---
layout: default
---

{% include base_path %}

{% if page.header.image contains "://" %}
  {% assign featured_image = page.header.image %}
{% elsif page.header.image %}
  {% capture featured_image %}{{ page.header.image | prepend: "/images/" | prepend: base_path }}{% endcapture %}
{% endif %}

<div id="main" class="post-main" role="main">
  <article class="page post-page" itemscope itemtype="https://schema.org/BlogPosting">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      <header class="post-header">
        {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | strip_html | escape }}</h1>{% endif %}

        {% if page.date %}
          <time class="post-published-date" datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Published {{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </header>

      {% if featured_image %}
        <figure class="post-feature">
          <img src="{{ featured_image }}" alt="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}" itemprop="image">
        </figure>
      {% endif %}

      <section class="page__content" itemprop="articleBody">
        {{ content }}
      </section>

      <footer class="page__meta">
        {% include page__taxonomy.html %}
      </footer>

      {% include post_pagination.html %}
    </div>
  </article>
</div>
